*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body,
#root {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  --dark-main: #09090b;
  --dark-red: #e11d48;
  --secondary-red: #f43f5e;
  --main-light: #fff1f2;
  --dark-green: #4aa93b;
  --med-green: #52cf30;
  --light-green: #92db4c;
  --palmetto-gray: #2e394b;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--main-light);
  background-color: var(--dark-main);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  margin: 15px;
}

.logo {
  width: 50px;
}

.title {
  text-align: center;
  color: var(--med-green);
  margin: 20px;
  display: flex;
}

form.form {
  max-width: 750px;
}

.form {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  margin: 0 auto;
}

.form-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.coordinates-l {
  width: 100%;
  margin-right: 5px;  
}

.coordinates-r {
  width: 100%;
  margin-left: 5px;  
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #2e2e2e;
  color: #e0e0e0;
  cursor: pointer;
}

.form-group input:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

/* Nav Menu */

.nav-coords {
  display: block;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--med-green);
}

.citySearch-nav, 
.zipSearch-nav,
.coordinateSearch-nav {
  background-color: var(--med-green);
  color: var(--dark-main);
  padding: 10px 20px;
}

.citySearch-nav {
  border-radius: 8px 0 0 0;
}

.zipSearch-nav {
  border-left: var(--dark-green) 1px solid;
  border-right: var(--dark-green) 1px solid;
}

.coordinateSearch-nav {
  border-radius: 0 8px 0 0;
}

.citySearch-nav:hover, 
.zipSearch-nav:hover,
.coordinateSearch-nav:hover {
  background-color: var(--light-green);
  cursor: pointer;
}

.selected { 
  background-color: var(--light-green);
}
